h1 {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    border-radius: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}